@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-dark-red: #A61616;
  --color-ligt-red: #EF1212;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}