@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-red: #a61616;
  --color-light-red: #ef1212;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: auto;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}
.styledScrollbar::-webkit-scrollbar {
  @apply w-2 bg-transparent
}
.styledScrollbar::-webkit-scrollbar-thumb {
  @apply bg-light-red/50 rounded-full
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

:disabled{
  opacity: 0.4;
  cursor: not-allowed;
}